{% extends "main.html" %}
{% block content %}
<br>
<a href="{% url 'blog:edit' article.id %}">Edit article</a>"
<br>
<form action="{% url 'blog:detail' article.id %}" method="POST">
    {% csrf_token %}
<div>
{{ article.title }}
<br>
{{ article.description }}
<br>
<br>
Comment:
<br>
{% if comments %}
{% for comment in comments %}
{{ comment.description }}
<br>
{% endfor %}
{% endif %}
<br>
<br>
{{ comment_form }}
<br>
<input type="submit" value="Save">
</div>
</form>
{% endblock %}